openapi: 3.0.3
info:
  title: "CCDS Citoyen - API v1.1"
  description: |
    API REST pour l'application mobile CCDS Citoyen.
    Cette version inclut les fonctionnalités de vote "Moi aussi", le mode hors-ligne et les notifications push.
  version: "1.1.0"
servers:
  - url: "https://votre-domaine.com/api"
    description: "Serveur de production"

paths:
  # --------------------------------------------------------------
  # Votes (Moi aussi) - v1.1
  # --------------------------------------------------------------
  /incidents/{id}/votes:
    get:
      summary: "Obtenir les votes pour un signalement"
      tags:
        - "Votes"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: "ID du signalement"
      responses:
        "200":
          description: "Succès"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoteState"

  /incidents/{id}/vote:
    post:
      summary: "Voter pour un signalement (Moi aussi)"
      tags:
        - "Votes"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: "ID du signalement"
      responses:
        "200":
          description: "Vote enregistré"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoteState"
        "409":
          description: "L'utilisateur a déjà voté"
    delete:
      summary: "Retirer son vote"
      tags:
        - "Votes"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: "ID du signalement"
      responses:
        "200":
          description: "Vote retiré"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoteState"

  # --------------------------------------------------------------
  # Notifications Push - v1.1
  # --------------------------------------------------------------
  /notifications/token:
    post:
      summary: "Enregistrer un token de notification push"
      tags:
        - "Notifications"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: "ExponentPushToken[xxxxxxxxxxxxxxxxxxxxxx]"
                platform:
                  type: string
                  enum: ["ios", "android"]
      responses:
        "200":
          description: "Token enregistré"

  /notifications:
    get:
      summary: "Lister les notifications de l'utilisateur"
      tags:
        - "Notifications"
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: "Liste des notifications"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationsResponse"

  /notifications/{id}/read:
    put:
      summary: "Marquer une notification comme lue"
      tags:
        - "Notifications"
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "Notification marquée comme lue"

  /notifications/read-all:
    put:
      summary: "Marquer toutes les notifications comme lues"
      tags:
        - "Notifications"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Toutes les notifications marquées comme lues"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    VoteState:
      type: object
      properties:
        votes_count:
          type: integer
          description: "Nombre total de votes 'Moi aussi'"
          example: 42
        user_has_voted:
          type: boolean
          description: "Vrai si l'utilisateur authentifié a voté"

    Notification:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: ["status_change", "new_comment", "vote_milestone", "system"]
        title:
          type: string
        body:
          type: string
        is_read:
          type: boolean
        sent_at:
          type: string
          format: date-time
        incident_reference:
          type: string
          nullable: true

    NotificationsResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: "#/components/schemas/Notification"
        unread_count:
          type: integer
        pagination:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            total_pages:
              type: integer
