openapi: 3.0.3
info:
  title: API CCDS Citoyen
  description: >-
    API REST pour l'application CCDS Citoyen, permettant de signaler et gérer les
    anomalies dans l'espace public.
  version: 1.0.0
servers:
  - url: https://admin.ccds-guyane.fr/backend
    description: Serveur de production

paths:
  /api/auth.php?action=register:
    post:
      summary: Inscription d'un nouvel utilisateur
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                  example: Jean Dupont
                email:
                  type: string
                  format: email
                  example: jean.dupont@email.fr
                password:
                  type: string
                  format: password
                  example: motdepasse123
      responses:
        '201':
          description: Utilisateur créé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User created successfully.
        '400':
          description: Données invalides

  /api/auth.php?action=login:
    post:
      summary: Connexion d'un utilisateur
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: jean.dupont@email.fr
                password:
                  type: string
                  format: password
                  example: motdepasse123
      responses:
        '200':
          description: Connexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJ: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Identifiants incorrects

  /api/categories.php:
    get:
      summary: Lister toutes les catégories de signalement
      tags:
        - Catégories
      responses:
        '200':
          description: Liste des catégories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'

  /api/incidents.php:
    get:
      summary: Lister les signalements (avec filtres et pagination)
      tags:
        - Incidents
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: status
          in: query
          schema:
            type: string
            enum: [submitted, acknowledged, in_progress, resolved, rejected]
      responses:
        '200':
          description: Liste paginée des signalements
          content:
            application/json:
              schema:
                type: object
                properties:
                  incidents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      summary: Créer un nouveau signalement
      tags:
        - Incidents
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                category_id:
                  type: integer
                latitude:
                  type: number
                  format: double
                longitude:
                  type: number
                  format: double
                description:
                  type: string
                photo:
                  type: string
                  format: binary
      responses:
        '201':
          description: Signalement créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'

  /api/incidents.php?id={id}:
    get:
      summary: Obtenir les détails d'un signalement
      tags:
        - Incidents
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Détails du signalement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'

    put:
      summary: Mettre à jour le statut d'un signalement (agents/admins)
      tags:
        - Incidents
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [acknowledged, in_progress, resolved, rejected]
                priority:
                  type: string
                  enum: [low, medium, high]
      responses:
        '200':
          description: Signalement mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'

  /api/comments.php?incident_id={id}:
    get:
      summary: Lister les commentaires d'un signalement
      tags:
        - Commentaires
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Liste des commentaires
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'

    post:
      summary: Ajouter un commentaire à un signalement
      tags:
        - Commentaires
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                is_internal:
                  type: boolean
                  description: Si true, commentaire visible uniquement par les agents/admins
      responses:
        '201':
          description: Commentaire ajouté
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        full_name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [citizen, agent, admin]

    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        icon:
          type: string

    Incident:
      type: object
      properties:
        id:
          type: integer
        description:
          type: string
        status:
          type: string
        priority:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        created_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'
        category:
          $ref: '#/components/schemas/Category'
        photos:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              url:
                type: string
                format: uri

    Comment:
      type: object
      properties:
        id:
          type: integer
        content:
          type: string
        created_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/User'
        is_internal:
          type: boolean

    Pagination:
      type: object
      properties:
        current_page:
          type: integer
        total_pages:
          type: integer
        total_items:
          type: integer
